/*___________________    Hero Category ___________________  */

/*_______  all-department  _______*/
.hero-area .all-department {
    width: 100%;
    overflow: auto;
}

.all-department.my-card {
    padding: 6px 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: unset;
}

.all-department p {
    font-size: 13.5px !important;
}

.hero-area .all-department .wrapper::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.hero-area .all-department .wrapper::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--border-color2);
}

.hero-area .all-department .wrapper:hover::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.hero-area .my-dropdown li {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 3px;
}


.hero-area .my-dropdown li:hover a {
    color: var(--primary-color)
}



/* dropdown */
.all-department .dropdown {
    opacity: 0;
    position: absolute;
    left: 100%;
    width: fit-content;
    text-wrap: nowrap;
    top: -1px;
    background-color: var(--white);
    padding: 14px 0;
    box-shadow: var(--shadow-2);
    border: 1px solid var(--border-color);
    visibility: hidden;
    transform: translateX(-25px);
    transition: .2s linear;
    z-index: -1;
    width: 100%;
    border-radius: 8px;
}

.all-department .dropdown .col {
    width: 100%;
}


.all-department .dropdown li {
    position: relative;
}

.all-department .single-dept .dropdown {
    border-radius: 0;
}

.all-department .dropdown li a {
    padding: 2px 0;
    font-size: 13px;
    font-weight: var(--fw-500);
}

.all-department .dropdown li ul li a {
    padding: 4px 0;
}

.all-department li i {
    font-size: 11px !important;
}


/* without home  page */
.all-department.other-page {
    display: none;
}

.hover:hover .all-department.other-page {
    display: block;
    z-index: 4;
}


.all-department-btn:hover .all-department.other-page {
    display: block;
}


.all-department li:hover>.dropdown {
    opacity: 1;
    top: -1px;
    max-height: 2000px;
    display: flex;
    transform: translateX(0);
    transition: .2s linear;
    visibility: visible;
    z-index: 10;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none !important;
    box-shadow: var(--shadow-2);
}

.all-department .dropdown li a {
    width: 100%;
}

.all-department .dropdown li a:hover {
    color: var(--white);
}

.all-department .dropdown .col li {
    padding: 0px 8px;
    font-size: 13px;
    font-weight: 500;
    color: var(--dark);
}

.all-department .dropdown li i {
    font-size: 11px;
}

.all-department .dropdown .col li:hover,
.all-department .dropdown .col li:hover p {
    color: var(--white);
}

.all-department .dropdown .col li:hover {
    background-color: var(--primary-color);
    width: 100%;
}

/* single deprt */
.all-department .single-dept.my-dropdown-parent .my-dropdown {
    left: 100%;
    z-index: 5;
}

.hero-area .all-department .single-dept {
    color: var(--dark);
}

.hero-area .all-department .single-dept p {
    font-weight: 500;
    font-size: var(--fs-sm);
}


.hero-area .all-department .single-dept:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.hero-area .all-department-btn i {
    font-size: var(--fs-lg);
}

.hero-area {
    display: flex;
    gap: 10px;
}

.hero-area .all-department-btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 14px 18px;
    font-size: var(--fs-md);
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hero-area .my-nav-item {
    font-size: var(--fs-md);
}

.hero-area .my-nav-item .my-dropdown li {
    color: var(--gray);
    font-size: var(--fs-sm) !important;
    font-weight: var(--fw-500);
}

.hero-area .my-nav-item .my-dropdown li:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.hero-area .my-nav-item .my-dropdown li a {
    width: 100%;
}


.hero-area .category {
    width: 280px;
}

.hero-area .category .left {
    width: 280px;
}

.hero-area .all-department.my-card {
    width: 280px;
}

.hero-area .single-dept {
    width: 100%;
}

.category-content {
    width: 40%;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.category-content ul {
    list-style: none;
    padding: 0;
}

.category-content ul li {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






/*_________  Banner _________ */
.banner {
    display: flex;
    flex-grow: 1;
    height: 558px;
}


/* banner slider */
.slider-banner {
    margin: auto;
    position: relative;
    border-radius: 8px;
    background-color: rgb(205, 203, 203);
    width: 100%;
    height: 558px;
}


.hero-area .swiper-slide a {
    transform: unset;
}



.banner .swiper-slide a {
    width: 100%;
}



.visit-shop {
    height: 200px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-hover-color));
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}


.visit-shop .my-btn {
    border: 2px solid var(--border-color2);
    padding: 18px 34px;
    font-size: 17px !important;
}



.offer-section .my-container {
    padding-top: 0;
}





/*_______________________________________
  ||     Special Offer Section Here     ||
________________________________________*/
.special-offer .item {
    height: 220px;
    border-radius: 8px;
    background-image: url('https://www.techlandbd.com/image/cache/catalog/AAA-Offer/Daily-content-banner/Ultra%20series%20laptop%20banner-1280x600.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
}

/* .special-offer .item:nth-child(2) {
    background-image: url('https://img.freepik.com/free-vector/adenovirus-computer-screen_1308-47608.jpg?t=st=1738058581~exp=1738062181~hmac=f5a3c9dc5f34b9d4d76090e32e2c8f252503e6e5cee8698b2192ff5227b32968&w=996');
} */

.special-offer .item:nth-child(2) {
    background-image: url('https://www.computervillage.com.bd/image/cache/catalog/website/banner/gaming-monitor-1260x400.jpeg.webp');
}

.special-offer .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 62, 130, .20);
    z-index: 1;
}

.special-offer .content {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    flex-direction: column;
    color: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
}

.special-offer .content h4 {
    color: transparent;
}










/*_______________________________
  ||     Brand Section Here     ||
________________________________*/
.our-partners-area img {
    margin: 0 auto;
    width: 120px;
}


.brand-section .brand img {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.brand-section .swiper-slide a {
    width: 100%;
    height: 100%;
    max-height: 110px;
    min-height: 110px;
    overflow: hidden;
}





/*__________________________________
  ||     achivment Section Here     ||
____________________________________*/
.achivment .item {
    padding: 4px;
    /* border: 2px solid var(--border-color); */
    background-color: var(--white);
    border-radius: 8px;
}

.achivment .my-card {
    box-shadow: unset;
    background-color: unset;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    height: 170px;
    border-radius: 6px;
}

.achivment .item h4 {
    color: var(--gray);
}






/*____________________________________
  ____||    Feature Start Here   ____||
_____________________________________*/
.feature-category-area {
    background-color: var(--white);
    padding: 12px;
}

.feature .my-container {
    padding-top: 0;
}

.feature-category-area .item {
    width: 100%;
    height: 110px;
    background-color: var(--white-off);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    transition: .2s linear;
    box-shadow: var(--shadow-2);
    cursor: pointer !important;
}

.feature-category-area .item h5 {
    font-size: var(--fs-sm);
    text-align: center;
    width: 100%;
}



.feature-category-area .item:hover h5 {
    color: var(--primary-color);

}

.feature-category-area .item img {
    width: 40px;
}

.feature-category-area .item:hover {
    border-radius: 18px;
    border: 1px solid var(--border-color2);
    border: 1px solid var(--primary-color);
}

.feature-category .all-category-btn:hover {
    color: var(--primary-color) !important
}



/* added new  style */
.our-partners-area {
    height: 112px;
}

.testimonial {
    height: 346px
}

.achivment,
.testimonial {
    position: relative;
}

.upcomming-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-weight: 600;
    font-size: 46px;
    color: #b6b2ac;
    text-shadow: 0 13.36px 4.896px #ff796acb, 0 -2px 1px #fff;
    letter-spacing: 5px;
    opacity: .7;
}




/*__________________________________
  ||     Subcribe Section Here     ||
____________________________________*/
.subcibe-app {
    height: 200px;
    width: 100%;
    position: relative;
}

.subcibe-discount-area {
    height: 200px;
    background: linear-gradient(to left, var(--primary-color), var(--primary-hover-color));
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.subcibe-discount-content,
.visit-shop-content {
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.subcibe-discount-area form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding: 10px;
    border-radius: 12px;
}

.subcibe-discount-area form input {
    border: none;
    background-color: transparent;
}

.subcibe-discount-area form .my-btn {
    width: 200px;
    padding: 18px 20px;
}

.subcibe-discount-area .info {
    max-width: 300px;
    margin-top: 12px;
    color: var(--border-color);
}


.seo-area h1 {
    font-size: 22px;
}

.seo-area h2 {
    font-size: 20px;
}

.seo-area h3 {
    font-size: 18px;
}

/*_____________________________________
  ||     Testimonial Section Here     ||
_______________________________________*/
.testimonial .swiper-slide {
    margin-right: 0px !important;
}

.testimonial-item {
    padding: 16px 8px;
    padding-bottom: 8px;
    margin: 0 8px;
    background-color: #5b9ef6 !important;
}

.testimonial-item .profile p {
    font-size: var(--fs-xs);
    color: #5a5757 !important;
}

.testimonial-item .rating i {
    color: var(--primary-color);
    margin-left: -2px;
}

.testimonial-item .profile img {
    border: 4px solid var(--border-color) !important;
    height: 75px;
    width: 75px;
    padding: 0px;
}

.testimonial-item .profile p {
    color: var(--gray);
}

.testimonial-content {
    position: relative;
    background-color: var(--border-color) !important;
    margin-top: 30px;
    padding: 16px;
}

.testimonial-content p {
    height: 70px;
    overflow: hidden;
    color: var(--gray);
}

.testimonial-content::after {
    content: '';
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--border-color);
    z-index: 2;
    clip-path: polygon(51% 14%, 0% 100%, 100% 100%);
    box-shadow: var(--shadow-2);
}

.feature-product-area .product-content .my-btn.my-primary-btn {
    padding: 10px 14px;
    background-color: var(--primary-color);
}



.seo-area p {
    color: var(--secondary-hover);
}


/* For two or three col */
.all-department .for-three-col {
    width: 600px;
}

.all-department .dropdown.for-two-col {
    width: 500px;
}


@media (max-width:1089px) {
    .all-department .for-three-col {
        width: 490px;
    }

    .all-department .dropdown.for-two-col {
        width: 400px;
    }
}



@media (max-width:991px) {
    .search-home input {
        border: 1px solid #47454571 !important;
        border: 1px solid var(--border-color);
        padding: 12px !important;
        border-radius: 4px !important;
        color: #000;
    }

    .search-home input::placeholder {
        font-weight: 500;
        font-size: var(--fs-md);
    }

    .mobile-for-menu .item {
        font-weight: 600;
    }

    .mobile-for-menu .icon {
        width: 36px;
        height: 36px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red);
    }

    .mobile-for-menu .icon i {
        color: var(--white);
    }

    /*_____ Feature _____ */
    .feature-category-area .item {
        /* width: 170px; */
        max-height: 90px;
    }

    .feature-category-area {
        row-gap: 4px;
        padding: 0px;
        background-color: transparent;
    }

    .feature-category-area .my-card {
        padding: 0;
        background-color: var(--white);
    }

    .hero-area {
        flex-direction: column;
    }

    .hero-area .banner {
        width: 100%;
        height: unset;
    }

    .hero .my-container {
        padding-top: 0;
    }

    .hero-area {
        grid-template-columns: 1fr;
    }

    .slider-banner {
        height: unset;
    }

    .feature-category-area .item h5 {
        font-size: 11px;
    }

    /* Special offer  */
    .special-offer .item {
        min-height: 140px;
        height: unset;
    }

    .slider-banner img {
        min-height: 150px;
    }

}






@media (max-width:769px) {
    .subcibe-discount-area {
        height: 240px;
    }

    .subcibe-discount-content,
    .visit-shop-content {
        gap: 20px;
        align-items: flex-start;
        justify-content: center;
    }

    .testimonial .testimonial-item {
        max-width: 400px;
        margin: 0 auto;
        margin-right:8px;
    }

    .feature-category-area .item img {
        width: 34px;
    }
}

@media (max-width:480px) {
    .hero-area {
        width: 100%;
    }

    .achivment .items {
        grid-template-columns: 1fr;
    }
}

/* Home Mobile Search */
#search_suggestion_mobile2 {
    background-color: white;
    height: 58vh;
    overflow-y: auto;
}

.search_suggestion_mobile2 {
    display: none;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}