.portal {

    /* background-color: var(--white); */
}



.p-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 12px;
    align-items: stretch;
}


/*
  ============    Portal Sidebar  =============
*/
.portal aside {
    background-color: var(--white);
}

.portal aside .sidebar {
    padding: 12px;
    flex-basis: 300px;
    width: 300px;
    position: sticky;
    top: 120px;
    z-index: 2;
}


.portal .sidebar .item {
    padding: 10px 12px;
    background-color: #fff;
    color: #222;
    color: var(--primary-color);
    width: 100%;
    border-radius: 6px;
    font-size: var(--fs-md);
    border-bottom: 1px solid var(--white-off);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
}

.portal .sidebar .item i {
    color: #888;
    color: var(--primary-color);
    font-size: var(--fs-xs);
}

.portal .sidebar .item.active,
.portal .sidebar .item:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.portal .sidebar .item.active svg,
.portal .sidebar .item:hover svg {
    stroke: #fff;
}

.portal .sidebar .item.active i,
.portal .sidebar .item:hover i {
    color: var(--white);
    animation: arrow-slide 0.2s 3 alternate;
}

@keyframes arrow-slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}






.portal .portal-right {
    flex: 1;
}

.portal .head {
    background-color: var(--white);
    padding: 0 12px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: var(--radius-md);
}

.portal .head .left,
.portal .head .meddle,
.portal .head .right {
    flex-basis: 33%;
}

.portal .head .left {
    padding: 12px 0;
}

.portal .head .portal-name {
    font-size: var(--fs-xl);
    text-align: center;
}

.portal .head .name {
    font-size: var(--fs-lg);
    font-weight: 600;
    color: #333;
}

.portal .head .grade {
    color: var(--gray);
    font-size: var(--fs-xs);
}

.portal .head .grade-value {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 13px;
    font-size: var(--fs-xs);
}

.portal .head .right .point {
    color: rgb(231, 151, 2);
    border-radius: 50%;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.portal .head .mit-point {
    color: #333;
    font-weight: 600;
    text-align: center;
    font-size: var(--fs-md);
    margin-top: 4px;

}

.portal .head .left img {
    border: 4px solid var(--input);
    border: 5px solid var(--white-off2);
    height: 68px;
    width: 68px;
}

.portal .head .left .user-id {
    color: var(--gray);
    font-size: 14px;
    line-height: 16px;
}


.portal .head .right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: center;
}


.portal .head .meddle {
    clip-path: polygon(0 0, 100% 0, 74% 100%, 20% 100%);
    background-color: rgba(240, 231, 248, 0.798);
    background-color: #F1F1F1;
    height: 100%;
    color: var(--orange);
    box-shadow: var(--shadow-2);
    padding-bottom: 2px;
}

.portal .head .meddle .portal-name {
    color: var(--primary-color);
}

/*
  ============    Portal Body  =============
*/
.p-body {
    background-color: #ffffff;
    margin-top: 16px;
}


.portal .p-body {
    padding: 16px;
    padding: 12px;
}



/* Body single cart */
.portal .p-body .cart-item {
    padding: 20px 16px;
    background-color: #EBEDF8;
    background-color: #EFF6FF;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: .3s ease;
    border: 1px solid transparent;

}

.portal .p-body .cart-item:hover .left.icon {
    background-color: var(--primary-color);
}

/* On hover of the card */
.portal .p-body .cart-item:hover {
    background-color: var(--white);
    border: 2px solid var(--white-off2);
    border: 1px solid #f3f3f3;
}

.portal .p-body .cart-item:hover svg {
    animation: pop .4s ease forwards 2;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1.1);
    }
}


.portal .p-body .cart-item .val {
    color: var(--primary-color);
    color: #333;
    font-size: 22px;
    font-weight: 600;
}

.portal .p-body .cart-item .cart-title {
    margin-top: 4px;
    color: #777;
    font-size: 14px;
    word-spacing: 2px;
}

.portal .p-body .cart-item .left .icon {
    width: 46px;
    height: 46px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-2);
    border: 1px solid transparent;
}

.portal .p-body .cart-item:hover .left .icon {
    border-color: var(--white-off2);
}

/* payment-date */
.portal .payment-date .cart-item {
    padding: 40px 16px;
    background: linear-gradient(120deg, #ff7b001c, #ff2e621b);
    border: 1px solid transparent;
    transition: .3s ease;
}

.portal .payment-date .cart-item .cart-title {
    font-weight: 500;
}

.portal .payment-date .cart-item .val {
    font-size: 18px;
}

.portal .payment-date .cart-item:nth-child(2) {
    background: linear-gradient(120deg, #ed32611e, #ff7b0020);
}

.portal .payment-date .cart-item:hover {
    background: linear-gradient(110deg, #ed326113, #ff7b0020);
    border: 1px solid transparent !important;
    transition: background .9s ease;
}

footer {
    margin-top: 12px !important;
}



.portal .recent-orders {
    background-color: var(--white);
    padding: 12px;
    border-radius: 8px;
}

.portal .recent-orders-title {
    color: #333;
    font-size: var(--fs-lg);
}

.portal .recent-orders .orders {
    width: 100%;
}

.portal .recent-orders .orders {
    border: 1px solid #ededed;
    margin-top: 8px;
}

.portal .recent-orders .orders th {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
    background-color: #EFF6FF;
    text-align: left;
    padding: 18px 16px;
    border-bottom: 1px solid #f5eeee;
    text-transform: uppercase;
}

.portal .recent-orders .orders td {
    font-weight: 500;
    font-size: 15px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.portal .recent-orders .orders .order-number {
    font-weight: 600;
}

.portal .recent-orders .orders .order-number a {
    width: 100%;
}

.portal .recent-orders .orders .order-number:hover {
    color: var(--primary-color);
}

.portal .recent-orders .orders .invoice-btn {
    padding: 8px 12px;
    background-color: var(--after);
    color: var(--white);
    border-radius: 6px;
}

.portal .recent-orders tr {
    border-bottom: 1px solid #ededed;
}

.portal .recent-orders .orders .status {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 20px;
    display: inline-block;
}

.portal .recent-orders .orders .status.delivered {
    background-color: green;
    color: white;
}

.portal .recent-orders .orders .status.pending {
    background-color: var(--orange);
    color: white;
}

.portal .recent-orders .orders .status.canceled {
    background-color: red;
    color: white;
}

.portal .recent-orders .orders tbody tr:nth-child(even),
.portal .recent-orders .orders tbody tr:hover {
    background-color: #F9FAFB;
}